@model IEnumerable<HistorialMedico.Models.cita>

@{
    ViewBag.Title = "Index";
}

<center>
    <h2>Ver Citas</h2>
</center>

<div class="form-horizontal">
    <hr />
    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Buscador" />
    <hr />
</div>

<br />
<table class="table"  id="myTable">

    <tr>
        <th>
            Doctor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDeConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDeCita)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.doctor.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDeConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDeCita)
            </td>
        </tr>

    }

</table>

<script>
  function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

    }
</script>
