@model IEnumerable<HistorialMedico.Models.paciente>

@{
    Layout = "~/Views/Shared/_AsistenteLayout/_AsistenteLayout.cshtml";
    ViewBag.Title = "Index";
}

    <table class="table">
        <tr  class="btn-danger">
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foto)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr class="btn-pinterest">
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                <img style="width: 100px;" src="@Url.Action("convertirImagen","Asistente", new { codigo = item.id_paciente})" />
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id=item.id_paciente }, new { @class = "glyphicon glyphicon-edit" }) 
                @Html.ActionLink(" ", "Details", new { id=item.id_paciente }, new { @class = "glyphicon glyphicon-eye-open", @style = "margin-left: 5px;" }) 
                @Html.ActionLink(" ", "Delete", new { id=item.id_paciente }, new { @class = "glyphicon glyphicon-trash mod", @style = "margin-left: 5px;" })
            </td>
        </tr>
    }
    
    </table>
