@model IEnumerable<HistorialMedico.Models.paciente>


@{
    Layout = "~/Views/Shared/_AsistenteLayout/_AsistenteLayout.cshtml";
    ViewBag.Title = "PacienteEncontrado";
}
<center>
    <h2>Paciente Encontrado</h2>
</center>
<h5>El paciente ya existe en el sistema y estos son sus datos:</h5>


@foreach (var item in Model)
{
    @Html.Label("Cedula: ");
    @Html.DisplayFor(modelItem => item.cedula)
    <br />
    @Html.Label("Nombre: ");
    @Html.DisplayFor(modelItem => item.nombre)
    <br />
    @Html.Label("Apellido: ");
    @Html.DisplayFor(modelItem => item.apellido)
    <br />
    @Html.Label("Fecha de Nacimiento: ");
    @Html.DisplayFor(modelItem => item.fechaNacimiento)
    <br />
    @Html.Label("Correo: ");
    @Html.DisplayFor(modelItem => item.correo)
    <br />
    @Html.Label("Telefono: ");
    @Html.DisplayFor(modelItem => item.telefono)
    <br />
    @Html.Label("Tipode de Sangre: ");
    @Html.DisplayFor(modelItem => item.tipodeSangre)
    <br />
    @Html.Label("Foto: ");
    <img style="width: 100px;" src="@Url.Action("convertirImagen","Asistente", new { codigo = item.id_paciente})" />
}

