@model HistorialMedico.Models.pagoConsulta

@{
    Layout = "~/Views/Shared/_AsistenteLayout/_AsistenteLayout.cshtml";
    ViewBag.Title = "ReportesDelSistema";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Factura</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Paciente")
            @Html.DropDownListFor(model => model.id_Paciente, ViewBag.NombrePaciente as SelectList, "Paciente", new { @Class = "btn btn-danger", id = "nom" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Costo")
            @Html.DropDownListFor(model => model.id_PrecioConsulta, ViewBag.NombreDoctor as SelectList, "Doctor", new { @Class = "btn btn-danger", id = "cost" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Pago")
            @Html.EditorFor(model => model.pago, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Total")
            @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Fecha")
            <input type="date" name="fecha" class="form-control" />
        </div>
    </div>
    <input type="hidden" id="nombre" name="nombre" class="form-control" />
    <input type="hidden" id="costo" name="costo" class="form-control" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" onclick="validar();" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

