@model IEnumerable<HistorialMedico.Models.cita>

@{
    Layout = "~/Views/Shared/_DoctorLayout/_DoctorLayout.cshtml";
    ViewBag.Title = "citaPaciente";
}

<center>
    <h2>Citas de Pacientes</h2>
</center>
<hr />
<div class="form-inline">
    <h4>Fecha de la Cita: </h4>
    <input type="text" id="myInput" style="width: 250px;" onkeyup="myFunction()" placeholder="dd/MM/YYYY" class="form-control">
</div>
<br />
<table class="table" id="myTable">
    <tr class="btn-success">
        <th>
           Nombre
        </th>
        <th>
           Doctor
        </th>
        <th>
            Fecha de Consulta
        </th>
        <th>
            Fecha de Cita
        </th>
        <th>
            Hora
        </th>
        <th>
            Duracción
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDeConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDeCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
    </tr>
}

</table>

<script>
    function myFunction() {

        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
