@model IEnumerable<HistorialMedico.Models.pagoConsulta>

@{
    ViewBag.Title = "TotalFecha";
}

<h2>TotalFecha</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_PrecioConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_PrecioConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_pagoConsulta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_pagoConsulta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_pagoConsulta })
        </td>
    </tr>
}

</table>
