<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul background-color: #EF1919; class="nav" id="side-menu">

            <li  style="background-color: #EF1919; color:white;" >
                <a href="#" style="background-color: #EF1919; color:white;"><i style="background-color: #EF1919; color:white;"   style="background-color: #EF1919; color:white;" class="fa fa-dashboard fa-fw"></i> Asistente<span class="fa arrow"></span></a>
                <ul   style="background-color: #EF1919; color:white;" class="nav nav-second-level">
                    <li>
                        <a  style="background-color: #EF1919; color:white;"  href="@Url.Action("VerificarCedula","Asistente")"><i class="fa fa-dashboard fa-fw"></i> Crear Paciente</a>
                    </li>
                    <li>
                        <a  style="color:white; background-color: #EF1919;"  href="@Url.Action("AsignarCita","Asistente")"><i class="fa fa-dashboard fa-fw"></i> Asignar Cita</a>
                    </li>

                    <li>
                        <a  style="background-color: #EF1919; color:white;"   href="@Url.Action("ConsultarCalendarioCita","Asistente")"><i class="fa fa-dashboard fa-fw"></i>Calendario de Citas</a>
                    </li>
                    <li>
                        <a  style="background-color: #EF1919; color:white;"   href="@Url.Action("Cumpleaños","Asistente")"><i class="fa fa-dashboard fa-fw"></i>Reporte de Cumpleaños</a>
                    </li>
                    <li>
                        <a  style="background-color: #EF1919; color:white;"   href="@Url.Action("PagoDeConsulta","Asistente")"><i class="fa fa-dashboard fa-fw"></i>Pago Consulta</a>
                    </li>
                </ul>
                <!-- /.nav-tercer-level -->
            </li>

            
    </div>
    <!-- /.sidebar-collapse -->
</div>