<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Asistente<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("VerificarCedula","Asistente")"><i class="fa fa-dashboard fa-fw"></i> Crear Paciente</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AsignarCita","Asistente")"><i class="fa fa-dashboard fa-fw"></i> Asignar Cita</a>
                    </li>

                    <li>
                        <a href="@Url.Action("ConsultarCalendarioCita","Asistente")"><i class="fa fa-dashboard fa-fw"></i>Calendario de Citas</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Cumpleaños","Asistente")"><i class="fa fa-dashboard fa-fw"></i>Reporte de Cumpleaños</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PagoDeConsulta","Asistente")"><i class="fa fa-dashboard fa-fw"></i>Pago Consulta</a>
                    </li>
                </ul>
                <!-- /.nav-tercer-level -->
            </li>

            
    </div>
    <!-- /.sidebar-collapse -->
</div>