@model HistorialMedico.Models.usuario

@{
    Layout = "~/Views/Shared/_AdminLayout/_AdminLayout.cshtml";
    ViewBag.Title = "Create";
    List<SelectListItem> listaroles = ViewBag.RolSelectList;
}
<center>
    <h1 style="color:blue;">Crear Usuario</h1>
</center>
@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    <center>
        <div class="form-inline"  style="margin-left: 20px;">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", @style = "margin-left: 30px;" } })
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>

            </div>

        </div>

    </center>

    <hr />

    <center>
        <div class="form-inline"  style="margin-right: 50px;">

            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left: 7px;" })
                <div class="col-md-offset-3">
                    <input accept=".jpg" style="width: 210px; margin-left: 50px;" type="file" name="InputFile" required class="btn btn-primary" />
                </div>
            </div>

            <hr />

        </div>
    </center>

    <center>
        <div class="form-inline" style="margin-right: 110px;">

            <div class="form-group">
                @Html.LabelFor(model => model.usuario1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usuario1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usuario1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-7">
                    @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
        </div>
    </center>

    <center>
        <div class="form-inline" style="margin-left: 10px;">
            <div class="form-group">

                @Html.Label("Telefono")
                <input type="text" class="form-control" name="telefono" style="margin-left: 15px;" />
                @*Html.LabelFor(model => model.roles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md">
            @Html.EditorFor(model => model.roles, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.roles, "", new { @class = "text-danger" })*@
                @Html.Label("Role", new { @style="margin-left: 10px;" })
                @Html.DropDownListFor(model => model.roles, listaroles, "Seleccione un Rol", new { @class = "btn btn-primary", @style = "margin-left: 65px; width: 200px; " })

            </div>
            </div>
    </center>
    @*</div>*@


    <hr />
    <center>
        <div class="form-group">

            <div class="">
                <input type="submit" style="width: 250px;" value="Create" class="btn btn-primary" />
            </div>

        </div>
    </center>

</div>
}