@model IEnumerable<HistorialMedico.Models.usuario>

@{
    Layout = "~/Views/Shared/_AdminLayout/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<center>
    <h1 style="color:blue; font-style:italic">Admin Panel</h1>
</center>
<style>
    .mod {
        color: red;
        text-decoration: none;
        text-transform: none;
    }
</style>
<p>
    @Html.ActionLink("CrearUsuario", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-plus" })
</p>
<div class="form-inline">
    @Html.Label("Filtar por Nombre: ") <input style="width:170px;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Usuario" class="form-control">
    @Html.Label("Filtar por Email: ", new { @style= "margin-left: 10px;" })<input type="text" style="width:170px;" id="myInpu" onkeyup="myFunctio()" placeholder="Email" class="form-control">
</div>
<br />
<table class="table table-striped" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <img style="width: 100px;" src="@Url.Action("convertirImagen","Admin", new { codigo = item.id_usuario})" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles)
            </td>
            <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.id_usuario }, new { @class = "glyphicon glyphicon-edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.id_usuario }, new { @class = "glyphicon glyphicon-eye-open", @style = "margin-left: 5px;" })
                    @Html.ActionLink(" ", "Delete", new { id = item.id_usuario }, new { @class = "glyphicon glyphicon-trash mod", @style = "margin-left: 5px;" })
                    </td>
        </tr>
    }

</table>

<script>
    function myFunction() {

        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunctio() {

        var input, filter, table, tr, td, i;
        input = document.getElementById("myInpu");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>