<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Doctor<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">

                    <li>
                        <a href="@Url.Action("Index","Doctor")"><i class="fa fa-dashboard fa-fw"></i> Visitas de Pacientes</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CrearCita","Doctor")"><i class="fa fa-dashboard fa-fw"></i> Crear Cita</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CrearVisita","Doctor")"><i class="fa fa-dashboard fa-fw"></i> CrearVisita</a>
                    </li>

                    <li>
                        <a href="@Url.Action("citaPaciente","Doctor")"><i class="fa fa-dashboard fa-fw"></i>Cita de pacientes</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ImprimirReceta","Doctor")"><i class="fa fa-dashboard fa-fw"></i>Calendario de Citas</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PagoConsulta","Doctor")"><i class="fa fa-dashboard fa-fw"></i>Pagos de Consultas por Dia</a>
                    </li>
                    <li>
                        <a href="@Url.Action("VisitaPaciente","Doctor")"><i class="fa fa-dashboard fa-fw"></i> Visitas de Pacientes</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>